### https://raw.github.com/github/gitignore/5ec6269c94d3b0c9ff5a7f87c890d067138bc58f/Scala.gitignore

*.class
*.log


### https://raw.github.com/github/gitignore/5ec6269c94d3b0c9ff5a7f87c890d067138bc58f/Global/SBT.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea
